pandas==2.2.2
pyarrow==16.1.0
streamlit==1.37.1
python-dotenv==1.0.1
matplotlib==3.9.0

# sentiment
vaderSentiment==3.3.2
transformers==4.43.3
torch>=2.2
sentencepiece>=0.2

# optional RSS
feedparser==6.0.11
